
</section>
<script>
var btnHamburguer=document.querySelector("#hamburguer");
var btnClose=document.querySelector("#close");

btnHamburguer.addEventListener("click",()=>{
    document.querySelector(".mainMenu").classList.toggle("hide");
});

btnClose.addEventListener("click",()=>{
    document.querySelector(".mainMenu").classList.toggle("hide");
});
</script>