<section class="categoriesContainer">
<div class="categories">

<% if @categories %>
<% if @categories.size>0 %>
<% @categories.each do |category|%>
<%=render partial:"groups/category", locals:{category_item:category}%>
<% end%>

<% else %>
<p>There is no Categories Yet Please ensure<%= link_to "to add it",new_group_path %> </p>
<% end %>
<% else %>
<p>Ups! There is an Issue</p>
<% end %>

</div>

<div class="newCategoryContainer">
<%= link_to  new_group_path do %>
<%=button_to "New Category"%>
<%end%>
</div>
</section>